[Unit]
Description=Task Tracker

[Service]
Type=simple
User=tasks3
Group=task3
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4796"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/task3/task-tracker_spa
ExecStart=/home/tasks3/task_tracker_spa/start.sh

[Install]
WantedBy=multi-user.target
